/*
 * vazir (Arabic) http://www.google.com/fonts/earlyaccess
 */
@font-face {
    font-family: 'vazir';
    font-style: normal;
    font-weight: 400;
    src: url(fonts/vazir/Vazir-Bold-FD.eot);
    src: url(fonts/vazir/Vazir-Bold-FD.eot?#iefix) format('embedded-opentype'),
    url(fonts/vazir/Vazir-Bold-FD.woff2) format('woff2'),
    url(fonts/vazir/Vazir-Bold-FD.woff) format('woff'),
    url(fonts/vazir/Vazir-Bold-FD.ttf) format('truetype');
}

@font-face {
    font-family: 'vazir';
    font-style: normal;
    font-weight: 700;
    src: url(fonts/vazir/Vazir-FD.eot);
    src: url(fonts/vazir/Vazir-FD.eot?#iefix) format('embedded-opentype'),
    url(fonts/vazir/Vazir-FD.woff2) format('woff2'),
    url(fonts/vazir/Vazir-FD.woff) format('woff'),
    url(fonts/vazir/Vazir-FD.ttf) format('truetype');
}

body {
    direction: rtl;
    font-family: 'vazir', sans-serif;
    text-align: right;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'vazir', sans-serif;
}

.container, .container-fluid {
    padding-right: 15px !important;
    padding-left: 0 !important;
}

.app-container .side-body {
    margin-right: 50px !important;
    margin-left: 12px !important;
}

.navbar-header {
    float: right !important;
}

.container-fluid > .navbar-header {
    margin-left: -15px !important;
    margin-right: -0 !important;
}

.navbar-top {
    padding-left: 0 !important;
    padding-right: 60px !important;
}

.ps__scrollbar-y-rail {
    right: 0 !important;
    left: 50px !important;
}

.side-menu ul.nav.navbar-nav {
    float: right !important;
    padding-right: 0 !important;
}

div.side-menu nav.li {
    float: right !important;
}

.navbar-right {
    float: left !important;
}

.navbar-nav.navbar-right {
    top: 0;
    left: 0 !important;
    right: auto !important;
}

.nav .profile:hover {
    /*width: 75px;*/
    float: left !important;
}

.site-footer-right {
    text-align: left;
    padding-left: 20px;
}

.hamburger, .hamburger:hover {
    transition: all .5s cubic-bezier(.19, 1, .22, 1)
}

.voyager .side-menu.sidebar-inverse .navbar li > a:hover {
    color: #fff;
    background: #2A363B
}

#sidebar-anchor.active, #sidebar-anchor:hover {
    color: #76838f !important
}

.hamburger {
    float: right;
    width: 30px;
    height: 30px;
    position: relative;
    padding: 28px 30px 28px 20px;
    cursor: pointer;
    opacity: 1;
    margin-right: 0
}

.hamburger:hover {
    opacity: .7
}

.hamburger-inner {
    right: 50% !important;
    left: auto !important;
    margin-left: auto !important;;
    margin-right: -10px !important;;
    transition: all .3s cubic-bezier(.19, 1, .22, 1)
}

.hamburger.is-active {
    /*margin-right: 75px*/
}

.hamburger.is-active .hamburger-inner:before {
    -webkit-transform: translate3d(5px, 1px, 0) rotate(45deg) scaleX(.5) !important;
    transform: translate3d(5px, 1px, 0) rotate(45deg) scaleX(.5) !important;
}

.hamburger.is-active .hamburger-inner:after {
    -webkit-transform: translate3d(5px, -1px, 0) rotate(-45deg) scaleX(.5) !important;
    transform: translate3d(5px, -1px, 0) rotate(-45deg) scaleX(.5) !important;
}

#sidebar-anchor {
    padding-right: 0 !important;
    padding-left: 10px;
    float: right !important;
}

.flex #right {
    border-right: 1px solid #f1f1f1;
}

.detail_info h4 {
    float: right !important;
}

.breadcrumb > li + li::before {
    content: '';
    margin-right: 0px !important;
}

.breadcrumb > li + li:after {
    font-family: Voyager;
    content: '\e039';
    position: relative;
    top: 1px;
    margin-left: 3px;
}

.row > [class*=col-] {
    margin-bottom: 25px;
    float: right;
}

.panel-title {
    text-align: right !important;
}

.settings .panel-actions {
    right: auto !important;
    left: 0 !important;
}

code, pre {
    direction: ltr !important;
    text-align: left;
    display: inline-block;
}

button.pull-right, .dd-item .pull-right {
    float: left !important;
}

.dd .item_actions {
    left: 10px;
    right: auto !important;
}

.settings .select2 {
    margin-left: 10px !important;
}

.dd-list .dd-list {
    padding-left: 0 !important;
    padding-right: 30px !important;
}

.new-settings-options label {
    float: left !important;
}

.database-tables .name, .database-tables .name a, ul.radio li {
    float: right !important;
}

.database-tables .name i {
    margin-left: auto !important;
    margin-right: 10px !important;
}

caption, th {
    text-align: right !important;
}

table.dataTable thead th.sorting:before, table.dataTable thead th.sorting_asc:before, table.dataTable thead th.sorting_desc:before {
    content: "\f0dc";
    color: #ddd;
    font-size: .8em;
    padding-top: .12em;
    position: absolute;
    top: 12px;
    left: 8px;
    display: block;
    font-family: FontAwesome;
}

table.dataTable thead th.sorting:after, table.dataTable thead th.sorting_asc:after, table.dataTable thead th.sorting_desc:after {
    right: auto !important;
    content: "" !important;
}

ul.checkbox label {
    padding-right: 20px !important;
}

.dataTables_wrapper .dataTables_length {
    float: right !important;
}

element.style {
}

@media (min-width: 768px) {

    .form-inline .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }

    div.dataTables_length select {
        margin: 0 10px !important;
    }

    .dataTables_wrapper .dataTables_filter {
        float: left !important;
    }

    .dataTables_wrapper .dataTables_filter input {
        margin-right: .5em;
        margin-left: 0 !important;
    }

    .dataTables_wrapper .dataTables_info {
        float: right !important;
    }

    .dataTables_wrapper .dataTables_paginate {
        float: left !important;
        text-align: left !important;
    }

    div.dataTables_paginate ul.pagination {
        margin: 2px 2px !important;
    }

    .voyager div.dataTables_paginate li.previous a:before {
        content: "" !important;
    }

    div.dataTables_paginate li.previous > a {
        padding-right: 24px;
        padding-left: 10px !important;
    }

    .voyager div.dataTables_paginate li.previous a:after {
        font-family: Voyager;
        content: "\e046";
        margin-right: -3px;
        position: absolute;
        top: 9px;
        right: 10px;
        display: block;
    }

    .voyager div.dataTables_paginate li.next a:after {
        content: "" !important;
    }

    div.dataTables_paginate li.next > a {
        padding-left: 24px;
        padding-right: 10px !important;
    }

    .voyager div.dataTables_paginate li.next a:before {
        font-family: Voyager;
        content: "\e039";
        margin-left: -3px;
        position: absolute;
        top: 9px;
        left: 10px;
        display: block;
    }

    .pagination li:first-child span, .pagination li:first-child > a {
        border-top-left-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }

    .pagination li:last-child span, .pagination li:last-child > a {
        border-top-right-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }

    .panel-actions {
        left: 30px !important;
        right: auto !important;
    }

    .page-title .btn.btn-success {
        left: auto !important;
        right: 15px;
    }
}

.app-container.expanded .side-body {
    margin-left: auto !important;
    margin-right: 235px !important;
}

.app-container.expanded .navbar-fixed-top.navbar-top {
    padding-right: 250px !important;
    padding-right: 0;
}

.app-container .content-container .side-menu .navbar-nav li.dropdown > a:after{
    left: 1em;
    text-align: left;
}

.app-container .dropdown-menu > li > a {
    text-align: right;
}

.side-menu .navbar-header, .voyager .side-menu .navbar-header {
    float: none !important;
}

.app-container .side-menu .panel.widget h4 {
    text-align: right;
    right: 56px;
}

.app-container .side-menu .panel.widget .avatar,
.app-container .side-menu:hover .panel.widget .avatar,
.app-container .dropdown.profile .dropdown-toggle
{
    float: right;
    margin-right: 12px;
}

#search-input button {
    left: 37px;
    right:auto;
}


/*
** persian-datepicker - v1.0.2
** Reza Babakhani <babakhani.reza@gmail.com>
** http://babakhani.github.io/PersianWebToolkit/docs/datepicker
** Under WTFPL license 
*/ 

.datepicker-plot-area{-moz-user-select:none;-khtml-user-select:none;-webkit-user-select:none;-o-user-select:none}.datepicker-plot-area .datepicker-time-view .down-btn,.datepicker-plot-area .datepicker-time-view .up-btn{transition:all 100ms ease}.datepicker-plot-area .datepicker-day-view .table-days td.disabled span,.datepicker-plot-area .datepicker-year-view .year-item-disable,.datepicker-plot-area .datepicker-month-view .month-item-disable{border-radius:0}.datepicker-plot-area .datepicker-time-view .down-btn,.datepicker-plot-area .datepicker-time-view .up-btn{border-radius:0;border-top-left-radius:0;border-top-right-radius:0}.datepicker-plot-area .datepicker-time-view .down-btn{border-radius:0;border-bottom-right-radius:0;border-bottom-left-radius:0}.datepicker-plot-area,.datepicker-plot-area .datepicker-time-view>.time-segment{border-radius:0}.datepicker-plot-area .datepicker-day-view .table-days td span,.datepicker-plot-area .datepicker-year-view .year-item,.datepicker-plot-area .datepicker-month-view .month-item,.datepicker-plot-area .datepicker-navigator .pwt-btn-next,.datepicker-plot-area .datepicker-navigator .pwt-btn-switch,.datepicker-plot-area .datepicker-navigator .pwt-btn-prev{border-radius:0}.datepicker-plot-area{box-shadow:0 5px 10px rgba(0,0,0,0.2)}.datepicker-plot-area .datepicker-day-view .table-days td span,.datepicker-plot-area .datepicker-year-view .year-item,.datepicker-plot-area .datepicker-month-view .month-item,.datepicker-plot-area .datepicker-day-view .table-days td.disabled span,.datepicker-plot-area .datepicker-year-view .year-item-disable,.datepicker-plot-area .datepicker-month-view .month-item-disable,.datepicker-plot-area .datepicker-time-view>.time-segment,.datepicker-plot-area .datepicker-time-view .down-btn,.datepicker-plot-area .datepicker-time-view .up-btn,.datepicker-plot-area .datepicker-time-view input,.datepicker-plot-area .datepicker-navigator .pwt-btn-next,.datepicker-plot-area .datepicker-navigator .pwt-btn-switch,.datepicker-plot-area .datepicker-navigator .pwt-btn-prev,.datepicker-plot-area .toolbox .pwt-btn-submit,.datepicker-plot-area .toolbox .pwt-btn-calendar,.datepicker-plot-area .toolbox .pwt-btn-today{cursor:pointer}.datepicker-plot-area .datepicker-day-view .table-days td span,.datepicker-plot-area .datepicker-year-view .year-item,.datepicker-plot-area .datepicker-month-view .month-item{font:14px;background-color:#fff;color:#333;border:0;text-shadow:none}.datepicker-plot-area .datepicker-day-view .table-days td.disabled span,.datepicker-plot-area .datepicker-year-view .year-item-disable,.datepicker-plot-area .datepicker-month-view .month-item-disable{background-color:#f1f1f1;color:#ccc;border:none;text-shadow:none;cursor:default}.datepicker-plot-area .datepicker-day-view .table-days td.today span{background-color:#333;color:#fff;border:0;text-shadow:none}.datepicker-plot-area .datepicker-day-view .table-days td span.other-month{background-color:"";color:#ccc;border:none;text-shadow:none}.datepicker-plot-area .datepicker-day-view .table-days td.selected span,.datepicker-plot-area .datepicker-year-view .year-item.selected,.datepicker-plot-area .datepicker-month-view .month-item.selected{background-color:#005299;color:#fff;border:none;text-shadow:1px 1px 1px #000}.datepicker-plot-area .datepicker-day-view .table-days td.selected span .datepicker-plot-area .datepicker-day-view .table-days td:hover,.datepicker-plot-area .datepicker-day-view .table-days td span:hover,.datepicker-plot-area .datepicker-year-view .year-item:hover,.datepicker-plot-area .datepicker-month-view .month-item:hover{background-color:#007be6;color:#fff;border:0;text-shadow:none}.datepicker-container{display:block;position:absolute;z-index:100000;top:0;direction:ltr}.datepicker-container.pwt-hide{display:none}.datepicker-plot-area{box-sizing:border-box;overflow:hidden;min-height:70px;display:block;width:200px;min-width:200px;padding:3px;position:absolute;font:12px tahoma;border:1px solid #ccc;background-color:#fff}.datepicker-plot-area.datepicker-state-only-time{padding:0}.datepicker-plot-area table,.datepicker-plot-area th,.datepicker-plot-area td{border:0;background:none}.datepicker-plot-area *{text-align:center;color:#333}.datepicker-plot-area .datepicker-day-view,.datepicker-plot-area .datepicker-month-view,.datepicker-plot-area .datepicker-year-view{display:block;width:100%;float:left;min-height:200px;margin:0}.datepicker-plot-area-inline-view{display:block;width:100%;position:static;float:left}.datepicker-plot-area .datepicker-time-view{display:block;float:left;width:100%;padding:5px;background:#f9f9f9;border-top:1px solid #f1f1f1}.datepicker-plot-area .datepicker-time-view>.time-segment{display:block;width:22%;float:left;overflow:hidden}.datepicker-plot-area .datepicker-time-view>.time-segment:hover .down-btn,.datepicker-plot-area .datepicker-time-view>.time-segment:hover .up-btn{font-weight:bold}.datepicker-plot-area .datepicker-time-view .divider{display:block;width:3%;height:60px;line-height:60px;float:left;overflow:hidden;font:12px bold}.datepicker-plot-area .datepicker-time-view .divider span{height:60px;line-height:60px}.datepicker-plot-area .datepicker-time-view .down-btn,.datepicker-plot-area .datepicker-time-view .up-btn{display:block;float:left;width:100%;margin:0;height:20px;line-height:22px;color:#ccc}.datepicker-plot-area .datepicker-time-view .down-btn:hover,.datepicker-plot-area .datepicker-time-view .up-btn:hover{background-color:rgba(250,250,250,0.3);color:#807f7f}.datepicker-plot-area .datepicker-time-view input{display:block;width:90%;margin:0 5%;height:20px;padding:0;outline:none;border:none;background:transparent}.datepicker-plot-area.datepicker-state-only-time .datepicker-time-view{padding:0 5px;margin:0}.datepicker-plot-area.datepicker-state-only-time .datepicker-time-view>.time-segment,.datepicker-plot-area.datepicker-state-only-time .datepicker-time-view>.divider{padding:5px 0}.datepicker-plot-area.datepicker-state-no-meridian .datepicker-time-view>.time-segment{width:31.33%}.datepicker-plot-area.datepicker-state-no-meridian .datepicker-time-view>.meridian-divider{display:none}.datepicker-plot-area.datepicker-state-no-second .datepicker-time-view>.time-segment{width:31.33%}.datepicker-plot-area.datepicker-state-no-second .datepicker-time-view>.second-divider{display:none}.datepicker-plot-area.datepicker-state-no-meridian.datepicker-state-no-second .datepicker-time-view>.time-segment{width:48%}.datepicker-plot-area.datepicker-state-no-meridian.datepicker-state-no-second .datepicker-time-view>.second-divider,.datepicker-plot-area.datepicker-state-no-meridian.datepicker-state-no-second .datepicker-time-view>.meridian-divider{display:none}.datepicker-plot-area .datepicker-day-view .table-days{width:100%;float:left;direction:rtl}.datepicker-plot-area .datepicker-day-view .table-days td{width:14.2%;height:26px;padding:0;margin:0;position:relative}.datepicker-plot-area .datepicker-day-view .table-days td .alter-calendar-day{font-style:normal;position:absolute;font-size:8.5px;bottom:0;right:2px;color:#f1f1f1}.datepicker-plot-area .datepicker-day-view .table-days td span{display:block;width:100%;height:26px;line-height:26px;padding:0;margin:0}.datepicker-plot-area .datepicker-day-view .month-grid-box{display:block;width:100%;float:right;min-height:180px;margin:8px 0}.datepicker-plot-area .datepicker-day-view .month-grid-box .header{display:block;width:100%;float:left;padding-bottom:8px}.datepicker-plot-area .datepicker-day-view .month-grid-box .header .header-row{display:block;width:100%;height:25px;float:left}.datepicker-plot-area .datepicker-day-view .month-grid-box .header .header-row-cell{display:block;width:14.2%;height:25px;float:right;line-height:25px;font:11px;font-weight:bold;color:#333}.datepicker-plot-area .datepicker-year-view,.datepicker-plot-area .datepicker-month-view{padding-top:10px}.datepicker-plot-area .datepicker-year-view .year-item,.datepicker-plot-area .datepicker-month-view .month-item{display:block;width:33.333333%;margin:2px 0 0;float:right;height:42px;line-height:42px}.datepicker-plot-area .datepicker-navigator{display:block;width:100%;float:left}.datepicker-plot-area .datepicker-navigator .pwt-btn-next,.datepicker-plot-area .datepicker-navigator .pwt-btn-switch,.datepicker-plot-area .datepicker-navigator .pwt-btn-prev{display:block;float:left;height:28px;line-height:28px;font-weight:bold;background-color:rgba(250,250,250,0.1);color:#333}.datepicker-plot-area .datepicker-navigator .pwt-btn-next:hover,.datepicker-plot-area .datepicker-navigator .pwt-btn-switch:hover,.datepicker-plot-area .datepicker-navigator .pwt-btn-prev:hover{background-color:rgba(250,250,250,0.3)}.datepicker-plot-area .datepicker-navigator .pwt-btn-next{display:block;width:15%;float:left}.datepicker-plot-area .datepicker-navigator .pwt-btn-switch{display:block;width:66%;margin:0 2%;float:left}.datepicker-plot-area .datepicker-navigator .pwt-btn-prev{display:block;width:15%;float:left}.datepicker-plot-area .toolbox{display:block;float:left;width:100%;margin-top:5px}.datepicker-plot-area .toolbox .pwt-btn-submit,.datepicker-plot-area .toolbox .pwt-btn-calendar,.datepicker-plot-area .toolbox .pwt-btn-today{background-color:rgba(250,250,250,0.1);float:right;display:block;font-weight:bold;font-size:11px;height:24px;line-height:24px;white-space:nowrap;margin:0 auto;margin-left:5px;padding:0 5px;min-width:50px}.datepicker-plot-area .toolbox .pwt-btn-submit:hover,.datepicker-plot-area .toolbox .pwt-btn-calendar:hover,.datepicker-plot-area .toolbox .pwt-btn-today:hover{background-color:rgba(250,250,250,0.3)}.datepicker-plot-area .datepicker-navigator{display:block;width:100%;float:left}.datepicker-plot-area .datepicker-navigator .pwt-btn-next,.datepicker-plot-area .datepicker-navigator .pwt-btn-switch,.datepicker-plot-area .datepicker-navigator .pwt-btn-prev{display:block;float:left;height:28px;line-height:28px;font-weight:bold;background-color:rgba(250,250,250,0.1);color:#333}.datepicker-plot-area .datepicker-navigator .pwt-btn-next:hover,.datepicker-plot-area .datepicker-navigator .pwt-btn-switch:hover,.datepicker-plot-area .datepicker-navigator .pwt-btn-prev:hover{background-color:rgba(250,250,250,0.3)}.datepicker-plot-area .datepicker-navigator .pwt-btn-next{display:block;width:15%;float:left}.datepicker-plot-area .datepicker-navigator .pwt-btn-switch{display:block;width:66%;margin:0 2%;float:left}.datepicker-plot-area .datepicker-navigator .pwt-btn-prev{display:block;width:15%;float:left}@media only screen and (max-device-width: 480px){.datepicker-container.pwt-mobile-view{position:fixed;width:100vw;height:100vh;top:0;left:0;bottom:0;overflow:hidden;transition:all 1s}.datepicker-container.pwt-mobile-view.pwt-hide{top:100vh;height:0}.datepicker-container.pwt-mobile-view .datepicker-plot-area{position:absolute;width:100%;height:100%;top:0;left:0;right:0;bottom:0}.datepicker-container.pwt-mobile-view .datepicker-plot-area .table-days td,.datepicker-container.pwt-mobile-view .datepicker-plot-area .table-days td span{height:44px;line-height:44px;font-size:14px}.datepicker-container.pwt-mobile-view .datepicker-plot-area .datepicker-year-view .year-item,.datepicker-container.pwt-mobile-view .datepicker-plot-area .datepicker-month-view .month-item{height:70px;line-height:70px}.datepicker-container.pwt-mobile-view .datepicker-plot-area [class*='pwt-btn']{height:48px;line-height:48px}.datepicker-container.pwt-mobile-view .datepicker-plot-area .pwt-btn-today{float:left}.datepicker-container.pwt-mobile-view .datepicker-plot-area.datepicker-state-only-time{background:rgba(0,0,0,0.7);border:0;padding-top:60%}.datepicker-container.pwt-mobile-view .datepicker-plot-area.datepicker-state-only-time .pwt-btn-submit{margin-right:5px}.datepicker-container.pwt-mobile-view .datepicker-plot-area.datepicker-state-only-time .datepicker-time-view input{height:40px;line-height:40px;font-size:24px;margin:5px 0}.datepicker-container.pwt-mobile-view .datepicker-plot-area.datepicker-state-only-time .datepicker-time-view .divider,.datepicker-container.pwt-mobile-view .datepicker-plot-area.datepicker-state-only-time .datepicker-time-view .divider span{font-size:16px;display:block;height:144px;line-height:144px}.datepicker-container.pwt-mobile-view .datepicker-plot-area.datepicker-state-only-time .datepicker-time-view .down-btn,.datepicker-container.pwt-mobile-view .datepicker-plot-area.datepicker-state-only-time .datepicker-time-view .up-btn{height:48px;line-height:48px}.datepicker-container.pwt-mobile-view .datepicker-time-view input{height:32px;line-height:34px;font-size:18px}.datepicker-container.pwt-mobile-view .datepicker-time-view .divider,.datepicker-container.pwt-mobile-view .datepicker-time-view .divider span{height:120px;line-height:120px}.datepicker-container.pwt-mobile-view .datepicker-time-view .down-btn,.datepicker-container.pwt-mobile-view .datepicker-time-view .up-btn{height:40px;line-height:40px}}

/*# sourceMappingURL=persian-datepicker.min.css.map */